<h1>Nueva Tarea</h1>

  <div class="row justify-content-md-center col-md-10">
    <div class="col-md-5">
      <div class="row justify-content-md-center">
      <%= form_with model: @todo, local: true do |f| %>
        <div class="form-group col-md-10">
          <%= f.label :description, "Tarea" %>
          <%= f.text_field :description, class: 'form-control'%>
        </div>
          
        <div class="form-group col-md-10">
          <%= f. label :completed%>
          <%= f.check_box :completed, class: 'checkbox'%>
        </div>
        
        <div class="form-group col-md-5">
          <%= f.submit 'Crear ToDo', class: 'btn btn-primary' %>
        </div>
        <div class="form-group col-md-5">
          <%= link_to 'Volver', todos_path, class: 'btn btn-success' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>