
<h1>Todos</h1>

<div class="well">

	 <!-- Table -->
	  <table class="table">
	    <thead>
	    <tr>
	      <th>Tarea</th>
	      <th>Completada¿?</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @todos.each do |todo| %>
	      <tr>
	        <td><%= todo.description %></td>
	        <% if todo.completed == true %>
                <td><span class="glyphicon glyphicon-thumbs-up"></td>
            <% else %>
                <td><span class="glyphicon glyphicon-thumbs-down"></span></td>
            <% end %>
        	<td><%= link_to 'Ver', todo, class: "btn btn-primary" %></td>
            <td><%= link_to 'Eliminar', todo, method: :delete, data: { confirm: 'Respuesta definitiva?' } , class: "btn btn-danger" %></td>
        	<td><%= link_to 'Editar', edit_todo_path(todo), class: "btn btn-info" %></td>
        	<td><%= link_to 'Completar', complete_todo_path(todo) , class: 'btn btn-primary'%></td>
        	<td><%= link_to 'List', todos_list_path , class: 'btn btn-primary'%></td>
        	            

	      </tr>
	    <% end %>
	  </tbody>
	  </table>
</div>

<%= link_to 'Crear ToDo', todos_new_path, class: "btn btn-warning" %>
