<%= form_with(model: @todo, local: true) do |form| %>


  <div class="input-group">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="input-group">
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </div>

  <div class="input-group">
    <%= form.submit "Crear", class: "btn btn-warning" %>
  </div>
<% end %>